@import url('https://fonts.googleapis.com/css?family=Rammetto+One&display=swap');

a, a:visited { color: var(--custom-primary); }
a:hover { color: var(--color-secondary); }

.brand-icon {
    --fa-primary-color: var(--brand-green);
    --fa-secondary-color: var(--brand-yellow);
    --fa-secondary-opacity: 1.0;
}
.brand-title {
    color: var(--brand-green) !important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: var(--brand-green);
    -webkit-text-stroke-color: var(--brand-yellow);
}
.brand-jumbo-title {
    color: var(--brand-green) !important;
    -webkit-text-stroke-width: 5px;
    -webkit-text-fill-color: var(--brand-green);
    -webkit-text-stroke-color: var(--brand-yellow);
}
.brand-font { font-family: 'Rammetto One' !important; }

.bg-dark { background-color: var(--custom-dark) !important; }
.bg-black { background-color: var(--custom-black) !important; }
.bg-light { background-color: var(--custom-light) !important; }
.bg-white { background-color: var(--custom-white) !important; }

.text-primary { color: var(--custom-primary) !important; }
.text-secondary { color: var(--custom-secondary) !important; }
.text-dark { color: var(--custom-dark) !important; }
.text-black { color: var(--custom-black) !important; }
.text-light { color: var(--custom-light) !important; }
.text-white { color: var(--custom-white) !important; }