@import url('https://fonts.googleapis.com/css?family=Rammetto+One&display=swap');

@font-face {
    font-family: 'Overwatch';
    src: url(bignoodletoo.ttf);
}
@font-face {
    font-family: 'kOverwatch';
    src: url(koverwatch.ttf)
}

.brand-icon {
    --fa-primary-color: var(--brand-green);
    --fa-secondary-color: var(--brand-yellow);
    --fa-secondary-opacity: 1.0;
}
.brand-title {
    color: var(--brand-green) !important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: var(--brand-green);
    -webkit-text-stroke-color: var(--brand-yellow);
}
.brand-jumbo-title {
    color: var(--brand-green) !important;
    -webkit-text-stroke-width: 5px;
    -webkit-text-fill-color: var(--brand-green);
    -webkit-text-stroke-color: var(--brand-yellow);
}
.brand-font { font-family: 'Rammetto One' !important; }
.owi-font { font-family: 'Overwatch' !important; }
.ow-font { font-family: 'kOverwatch' !important; }

.bg-dark { background-color: var(--custom-dark) !important; }
.bg-black { background-color: var(--custom-black) !important; }
.bg-light { background-color: var(--custom-light) !important; }
.bg-white { background-color: var(--custom-white) !important; }

.text-primary { color: var(--custom-primary) !important; }
.text-secondary { color: var(--custom-secondary) !important; }
.text-dark { color: var(--custom-dark) !important; }
.text-black { color: var(--custom-black) !important; }
.text-light { color: var(--custom-light) !important; }
.text-white { color: var(--custom-white) !important; }

.hero-icon { height: 1.3em; width: 1.3em; background-color: #3c3c3c; border-radius: 50%; border: 2px solid #FA9C1D; }
.hero-icon.disabled { filter: grayscale(100%) !important; border: 2px solid #000000 !important; }