:root {
    --brand-green: #00ff00;
    --brand-yellow: #ffff00;
    --custom-primary: #00ff00;
    --custom-secondary: #ffff00;
    --custom-dark: #323232;
    --custom-black: #000000;
    --custom-light: #f0f0f0;
    --custom-white: #ffffff;
}