<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vysum Team">
    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <link rel="shortcut icon" href="{{ site.icon }}">
    <link rel="stylesheet" href="{{ site.BootstrapCSS }}">
    <link rel="stylesheet" href="/assets/css/starsanctuary.{{ page.theme }}.css">
    <link rel="stylesheet" href="/assets/css/starsanctuary.css">
    <script src="{{ site.jQuery }}"></script>
    <script src="{{ site.BootstrapJS }}"></script>
    <script src="{{ site.FontAwesome }}"></script>
    <script src="{{ site.TwitchJS }}"></script>
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <i class="fad fa-star brand-icon"></i>
            <b class="brand-title brand-font"> {{ site.title }}</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="streamers" role="button" data-toggle="dropdown">
                        <i class="fab fa-chromecast"></i>
                        <span> Streamers</span>
                    </a>
                    <div id="streamersList" class="dropdown-menu dropdown-menu-right">
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.discord }}" target="_blank">
                        <i class="fab fa-discord"></i>
                        <span> Discord</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center bg-black">
        <h1 class="display-4">
            <i class="fad fa-star brand-icon"></i>
            <b class="brand-jumbo-title brand-font"> {{ site.title }}</b>
        </h1>
        <p class="lead">{{ site.description }}</p>
    </div>
    <div class="card mb-3 promocard">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="card-img" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/bbad3bfd-c80d-43f7-a1a5-22ac8c369b07-profile_image-70x70.png">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">OrionTheStarhog</h3>
                    <p class="text-muted">Team Owner/Operator</p>
                    <p>
                        I'm a Gamer, Content Creator, Professional Screamer (Perhaps a bit too much on that front)
                        Feel free to drop in, look around, just don't break nothin'.
                        You'll typically see me streaming with some of my friends.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 promocard">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">TorchofIrony</h3>
                    <p class="text-muted">Team Admin</p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="card-img" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/072c1208-3a63-40a7-a229-050d2a75a5ae-profile_image-70x70.png">
            </div>
        </div>
    </div>
    <div class="card mb-3 promocard">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="card-img" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/28566ac0-f40b-4ecf-b115-8104ce6bef41-profile_image-70x70.png">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">GardenWolf</h3>
                    <p class="text-muted">Team Admin</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/starsanctuary.list.js"></script>
    <script src="/assets/js/starsanctuary.core.js"></script>
</body>