<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vysum Team">
    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <link rel="shortcut icon" href="{{ site.icon }}">
    <link rel="stylesheet" href="{{ site.BootstrapCSS }}">
    <link rel="stylesheet" href="/assets/css/starsanctuary.{{ page.theme }}.css">
    <link rel="stylesheet" href="/assets/css/starsanctuary.css">
    <script src="{{ site.jQuery }}"></script>
    <script src="{{ site.BootstrapJS }}"></script>
    <script src="{{ site.FontAwesome }}"></script>
    <script src="{{ site.TwitchJS }}"></script>
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <a class="navbar-brand" href="/">
            <i class="fad fa-star brand-icon"></i>
            <span class="brand-title"> {{ site.title }}</span>
        </a>
    </nav>
</body>