<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vysum Team">
    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <link rel="shortcut icon" href="{{ site.icon }}">
    <link rel="stylesheet" href="{{ site.BootstrapCSS }}">
    <link rel="stylesheet" href="/assets/css/starsanctuary.{{ page.theme }}.css">
    <link rel="stylesheet" href="/assets/css/starsanctuary.css">
    <script src="{{ site.jQuery }}"></script>
    <script src="{{ site.BootstrapJS }}"></script>
    <script src="{{ site.FontAwesome }}"></script>
    <script src="{{ site.TwitchJS }}"></script>
</head>
<body class="bg-black text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <i class="fad fa-star brand-icon"></i>
            <b class="brand-title brand-font"> {{ site.title }}</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="streamers" role="button" data-toggle="dropdown">
                        <i class="fab fa-chromecast"></i>
                        <span> Streamers</span>
                    </a>
                    <div id="streamersList" class="dropdown-menu dropdown-menu-right">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/overwatch">
                        <i class="fas fa-gamepad-alt"></i>
                        <span> Overwatch</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.discord }}" target="_blank">
                        <i class="fab fa-discord"></i>
                        <span> Discord</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center bg-black">
        <h1 class="display-4">
            <i class="fad fa-star brand-icon"></i>
            <b class="brand-jumbo-title brand-font"> {{ site.title }}</b>
        </h1>
        <p class="lead">{{ site.description }}</p>
    </div>
    <div class="card mb-3 promocard bg-dark">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img class="card-img" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/bbad3bfd-c80d-43f7-a1a5-22ac8c369b07-profile_image-300x300.png">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h3 class="card-title text-primary">OrionTheStarhog</h3>
                    <p class="text-muted">Team Owner/Operator</p>
                    <p>
                        Hey everyone, I'm Orionthestarhog!
                        I'm a Gamer, Content Creator, Professional Screamer (Perhaps a bit too much on that front)
                        Feel free to drop in, look around, just don't break nothin'.
                        You'll typically see me streaming with some of my friends.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 promocard bg-dark">
        <div class="row no-gutters">
            <div class="col-md-10">
                <div class="card-body">
                    <h3 class="card-title text-primary">TorchofIrony</h3>
                    <p class="text-muted">Team Admin</p>
                    <p>
                        Sup, er'body! TorchOfIrony here.
                        I'mma dude with a funny accent who plays games and streams 'em on occasion.
                        If y'all're lookin' for chill, I tend to play pretty chill video games. Anythin' goes 'round here.
                        I'm a Variety Streamer with an leaning towards Nintendo and PC games, but I've a PS4 somewhere...
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <img class="card-img" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/072c1208-3a63-40a7-a229-050d2a75a5ae-profile_image-300x300.png">
            </div>
        </div>
    </div>
    <div class="card mb-3 promocard bg-dark">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img class="card-img" alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/28566ac0-f40b-4ecf-b115-8104ce6bef41-profile_image-300x300.png">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h3 class="card-title text-primary">GardenWolf</h3>
                    <p class="text-muted">Team Admin</p>
                    <p>
                        Howdy! The name's Garden, also known as Okami!
                        I'm an Artist, Gamer, and a Streamer! Glad to see you here! Please be careful, though, breaking other people's stuff is rude. 
                        Most typically you'll find me drawing or playing games. Maybe you'll even find me streaming either one. 
                        Hope you enjoy your stay!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p class="text-muted">Web Development &copy; 2020 Vysum Team</p>
    </div>
    <script src="/assets/js/starsanctuary.list.js"></script>
    <script src="/assets/js/starsanctuary.core.js"></script>
</body>