<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vysum Team">
    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <link rel="shortcut icon" href="{{ site.icon }}">
    <link rel="stylesheet" href="{{ site.BootstrapCSS }}">
    <link rel="stylesheet" href="/assets/css/starsanctuary.{{ page.theme }}.css">
    <link rel="stylesheet" href="/assets/css/starsanctuary.css">
    <script src="{{ site.jQuery }}"></script>
    <script src="{{ site.BootstrapJS }}"></script>
    <script src="{{ site.FontAwesome }}"></script>
    <script src="{{ site.TwitchJS }}"></script>
</head>
<body class="bg-black text-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <i class="fad fa-star brand-icon"></i>
            <b class="brand-title brand-font"> {{ site.title }}</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="streamers" role="button" data-toggle="dropdown">
                        <i class="fab fa-chromecast"></i>
                        <span> Streamers</span>
                    </a>
                    <div id="streamersList" class="dropdown-menu dropdown-menu-right">
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/overwatch">
                        <i class="fas fa-gamepad-alt"></i>
                        <span> Overwatch</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.discord }}" target="_blank">
                        <i class="fab fa-discord"></i>
                        <span> Discord</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center bg-black">
        <img src="/assets/img/overwatch.png" alt="" width="660px" height="auto">
    </div>
    <div id="team" class="container">
        <div class="card mb-3 promocard bg-dark">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="card-body">
                        <h1 class="owi-font" style="color: #FA9C1D">OrionStarhog</h1>
                        <h4 class="text-muted owi-font">Team Co-Owner/Operator</h4>
                        <h3 class="ow-font">
                            "Jack of all trades and Master of few." That'd be an accurate description 
                            of me as far as Overwatch goes. I'm OrionTheStarhog, one of the leads of 
                            this team, in game you'll see me as OrionStarhog... only because I ran out 
                            of room... All the "Favorite Heroes" you see here are ones I have a pretty 
                            good handle on.
                        </h3>
                        <h3>
                            <span class="text-muted owi-font">Favorite Role: </span>
                            <span class="owi-font" style="color: #FA9C1D">Flex</span>
                        </h3>
                        <h3>
                            <span class="text-muted owi-font">Favorite Heroes: </span>
                            <br>
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Ana.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-ashe.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Baptiste.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Bastion.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-D.Va.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Doomfist.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Genji.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Hanzo.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Junkrat.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Lúcio.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-McCree.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Mei.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Mercy.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Moira.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Orisa.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Pharah.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Reaper.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Reinhardt.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Roadhog.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Sigma.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Soldier_76.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Sombra.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Symmetra.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Torbjörn.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Tracer.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Widowmaker.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Winston.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Wrecking_Ball.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Zarya.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Zenyatta.png">
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 promocard bg-dark">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="card-body">
                        <h1 class="owi-font" style="color: #FA9C1D">Eclistys</h1>
                        <h4 class="text-muted owi-font">Team Co-Owner/Web Developer</h4>
                        <h3 class="ow-font">
                            Hello there. I'm DJ but online I'm Eclistys. I'm the Web Developer for
                            the Star Sanctuary and am proud to be on this team.
                        </h3>
                        <h3>
                            <span class="text-muted owi-font">Favorite Role: </span>
                            <span class="owi-font" style="color: #FA9C1D">DPS</span>
                        </h3>
                        <h3>
                            <span class="text-muted owi-font">Favorite Heroes: </span>
                            <br>
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Ana.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-ashe.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Baptiste.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Bastion.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-D.Va.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Doomfist.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Genji.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Hanzo.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Junkrat.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Lúcio.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-McCree.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Mei.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Mercy.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Moira.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Orisa.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Pharah.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Reaper.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Reinhardt.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Roadhog.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Sigma.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Soldier_76.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Sombra.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Symmetra.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Torbjörn.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Tracer.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Widowmaker.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Winston.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Wrecking_Ball.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Zarya.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Zenyatta.png">
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 promocard bg-dark">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="card-body">
                        <h1 class="owi-font" style="color: #FA9C1D">MrRain</h1>
                        <h4 class="text-muted owi-font">Team Member</h4>
                        <h3 class="ow-font">
                            To Be Written...
                        </h3>
                        <h3>
                            <span class="text-muted owi-font">Favorite Role: </span>
                            <span class="owi-font" style="color: #FA9C1D">DPS</span>
                        </h3>
                        <h3>
                            <span class="text-muted owi-font">Favorite Heroes: </span>
                            <br>
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Ana.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-ashe.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Baptiste.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Bastion.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-D.Va.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Doomfist.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Genji.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Hanzo.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Junkrat.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Lúcio.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-McCree.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Mei.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Mercy.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Moira.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Orisa.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Pharah.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Reaper.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Reinhardt.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Roadhog.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Sigma.png">
                            <img class="hero-icon" src="/assets/img/heroes/75px-Icon-Soldier_76.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Sombra.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Symmetra.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Torbjörn.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Tracer.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Widowmaker.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Winston.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Wrecking_Ball.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Zarya.png">
                            <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Zenyatta.png">
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="videos" class="container row no-gutters" style="margin-left: auto; margin-right: auto">
        <div class="col-md-12"><h1 class="owi-font" style="color: #FA9C1D">Team Highlights</h1></div>
    </div>
    <script type="text/javascript">
    let topVideos = [
        'https://cdn.discordapp.com/attachments/667021187309895691/667163731016286229/sigma_triple_20-01-15_16-49-18.mp4',
        'https://cdn.discordapp.com/attachments/537477230901723156/667591853050167306/Operation_Genji_Saves_Everyone.mp4'
    ];
    for(let i = 0; i < topVideos.length; i++) {
        $('#videos').append(`
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" src="${topVideos[i]}" controls controlsList="nodownload">
        </div>
        `);
    }
    </script>
    <div class="text-center">
        <p class="text-muted">Web Development &copy; 2020 Vysum Team</p>
    </div>
    <script src="/assets/js/starsanctuary.list.js"></script>
    <script src="/assets/js/starsanctuary.core.js"></script>
    <!--
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Ana.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-ashe.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Baptiste.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Bastion.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-D.Va.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Doomfist.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Genji.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Hanzo.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Junkrat.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Lúcio.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-McCree.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Mei.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Mercy.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Moira.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Orisa.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Pharah.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Reaper.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Reinhardt.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Roadhog.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Sigma.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Soldier_76.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Sombra.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Symmetra.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Torbjörn.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Tracer.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Widowmaker.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Winston.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Wrecking_Ball.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Zarya.png">
        <img class="hero-icon disabled" src="/assets/img/heroes/75px-Icon-Zenyatta.png">
    -->
</body>
</html>